.wrapperMain .content1 {
  margin: 4rem 0 4rem 0;
  color: var(--color-3);
  counter-reset: countNav;
}

.wrapperMain .content1 img {
  display: block;
}

.wrapperMain .content1 h2 {
  color: var(--color-1);
}

.wrapperMain .content1 h3 {
  margin: 1rem 0 0.25rem 0;
  display: inline-block;
  box-shadow: 0 0.25rem var(--color-3);
}

.wrapperMain .content1 h3::before {
  content: counters(countNav, "") ". ";
  counter-increment: countNav;
}

.wrapperMain .content1 p {
  margin: 1rem 0 2.5rem 0;
}

.phrase {
  box-shadow: -0.25rem 0 var(--color-1);
}

.phrase blockquote {
  font-size: 1.5rem;
  margin: 0 0 1rem 1rem;
}

.phrase cite {
  margin: 0 0 0 1rem;
}

/*-------- NEMIUM B ----------*/

.wrapperMain .content1 .h3Nemium-b {
  box-shadow: 0 0.25rem var(--color-4);
}

.wrapperMain .content1 .pNemium-b {
  color: var(--color-7);
}

/*-------- NEMIUM C ----------*/

.wrapperMain .content1 .h3Nemium-c {
  box-shadow: 0 0.25rem var(--color-6);
}

/*-------- NEMIUM D ----------*/

.contentMain-d .wrapperMain .content1 h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-1)
}

.contentMain-d .wrapperMain .content1 img {
  margin: auto;
}

.contentMain-d .wrapperMain .content1 h3 {
  display: block;
  text-align: center;
  box-shadow: none;
  font-size: 1.5rem;
  color: var(--color-1)
}

.contentMain-d .wrapperMain .content1 p {
  text-align: center;
}

.contentMain-d .wrapperMain .content1 p b {
  color: var(--color-9);
  font-weight: lighter;
}

.contentMain-d .wrapperMain .content1 .phrase {
  margin-inline-start: 30%;
  box-shadow: -0.25rem 0 var(--color-8);
  font-size: 1.5rem;
}

/*-------- NEMIUM E ----------*/

.contentMain.e .wrapperMain.e .content1.e h2 {
  color: var(--color-6);
  font-size: 2.5rem;
}

.contentMain.e .wrapperMain.e .content1.e h3 {
  color: var(--color-6);
  font-size: 2rem;
}

.contentMain.e .wrapperMain.e .content1.e p {
  color: var(--color-7);
  font-size: 1.0625rem;
}

.contentMain.e .wrapperMain.e .phrase {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-12);
}

.contentMain.e .wrapperMain.e .phrase, blockquote, cite {
  color: var(--color-1);
}

.wrapperMain.e .content1 h3 {
  box-shadow: none;
  font-size: 2rem;
}

@media screen and (max-width:940px) {
  .contentMain-d .wrapperMain .content1 .phrase {
    margin: auto;
  }
  /*-------- NEMIUM E ----------*/
  .contentMain.e .wrapperMain .content1 img {
    inline-size: 2.5rem;
    block-size: 2.5rem;
  }
}