.content3 {
  margin-block-end: 7.0625rem;
}

.content3 h2 {
  color: var(--color-1);
  font-size: 2rem;
  margin: 0 0 2.5rem 0;
}

.content3 h3 {
  margin: 1rem 0 1rem 0;
  color: var(--color-3);
  font-size: 1.5rem;
}

.content3 p {
  margin: 1rem 0 1rem 0;
  font-size: 1rem;
  color: var(--color-3);
}

.content3 ul {
  padding-inline-start: 1rem;
}

.content3 ol {
  list-style: decimal;
  padding-inline-start: 1rem;
}

.content3 ol, ul {
  color: var(--color-3);
  margin: 1rem 0 2.5rem;
  font-size: 1rem;
}

.content3 ul li {
  margin: 1rem 0;
}

.content3 .overfollImg {
  inline-size: 100%;
  block-size: 29rem;
  margin: 1rem 0 0 0;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.content3 .overfollImg::-webkit-scrollbar {
  visibility: visible;
  inline-size: 0;
  block-size: 0;
}

.content3 .overfollImg h1 {
  display: inline-block;
}
.content3 .buttonScroll-conteiner{
  inline-size: 3.5rem;
  margin: auto;
}
.content3 .buttonScroll {
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 50%;
  background: var(--color-2);
  border: 0;
  cursor: pointer;
  margin: 1rem auto 2.5rem auto;
}

.content3 .buttonScroll:hover {
  background: var(--color-4);
}

.content3 .formSubscription {
  inline-size: 100%;
  block-size: auto;
}

.content3 .formSubscription input[type="text"], input[type="email"] {
  inline-size: 15.375rem;
  block-size: 1rem;
  border: 1px solid var(--color-3);
  padding: 1rem;
  border-radius: 5.625rem;
  cursor: pointer;
  margin-inline-end: 1rem;
}

.content3 .formSubscription input[type="submit"] {
  background: black;
  color: var(--color-6);
  border: none;
  inline-size: 7.4375rem;
  block-size: 3.125rem;
  border-radius: 5.625rem;
  position: relative;
  inset-inline-start: -7.6rem;
  cursor: pointer;
}

.content3 .formSubscription input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: var(--color-1);
  font-size: 1rem;
}

/*-------- NEMIUM B ----------*/

.content3 .formSubscription-b input[type="text"], .content3 .formSubscription-b input[type="email"] {
  inline-size: calc(100% - 2.126rem);
  padding: 1rem;
  border: 2px solid var(--color-7);
  background: transparent;
  border-radius: 0.5rem;
  margin-block-end: 1rem;
  cursor: pointer;
  outline: none;
}

.content3 .formSubscription-b input[type="submit"] {
  inline-size: 100%;
  background: var(--color-8);
  block-size: 3.125rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--color-1);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.content3 .formSubscription-b input[type="text"], input[type="email"] {
  color: var(--color-1);
  font-size: 1.2rem;
}
.content3 .formSubscription-b input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: var(--color-1);
  font-size: 1rem;
}

/*-------- NEMIUM C ----------*/

.content3 .h3Nemium-b {
  box-shadow: 0 0.25rem var(--color-4);
}

.content3 .pNemium-b {
  color: var(--color-7);
}

.content3 .liNemium-b {
  color: var(--color-7);
}

.content3 .liNemium-b::marker {
  color: var(--colorBack-r1);
}

/*-------- NEMIUM D ----------*/

.contentMain-d .content3 ul li::marker {
  color: var(--color-8);
}

.contentMain-d .content3 .buttonScroll {
  background: var(--color-10);
}

.contentMain-d .content3 .buttonScroll:hover {
  background: var(--color-8);
}

.contentMain-d .content3 .formSubscription input[type="submit"] {
  background: var(--color-8);
}

/*-------- NEMIUM E ----------*/

.contentMain.e .wrapperMain.e .content3.e h2 {
  color: var(--color-6);
  font-size: 2.5rem;
}

.contentMain.e .wrapperMain.e .content3.e p {
  color: var(--color-7);
  font-size: 1.0625rem;
}

.wrapperMain.e .content3.e h3 {
  color: var(--color-6);
  font-size: 2rem;
}

.wrapperMain.e .content3.e li {
  color: var(--color-7);
  font-size: 1.0625rem;
}

.content3.e .buttonScroll:hover {
  background: var(--color-12);
}

.content3.e .formSubscription-b input[type="text"], .content3.e .formSubscription-b input[type="email"] {
  color: var(--color-7);
  font-size: 1.2rem;
}

.content3.e .formSubscription-b input[type="submit"] {
  background: var(--color-12);
}

.content3.e .formSubscription-b input[type="text"]::-webkit-input-placeholder, .content3.e .formSubscription-b input[type="email"]::-webkit-input-placeholder {
  color: var(--color-7);
}

/* ------------------------------------------------ */

@media screen and (max-width: 940px) {
  .content3 {
    margin-block-end: 2.544375rem;
  }
  .content3 .input {
    display: block;
    inline-size: 20.5rem;
    margin: auto;
  }
  .content3 .formSubscription {
    position: relative;
  }
  .content3 .formSubscription input[type="text"], input[type="email"] {
    display: block;
    inline-size: calc(100% - 2.125rem);
    margin-block-end: 1rem;
    outline: none;
    font-size: 1.2rem;
  }
  .content3 .formSubscription input[type="submit"] {
    position: absolute;
    inset-block-start: 4.1rem;
    inset-inline-start: calc(100% - 7.4375rem);
  }
}