.backgroundHeader {
  block-size: 6rem;
  background-image: url(../img/img-background-header.png);
  background-size: 10%;
  background-repeat: repeat;
}

/*-------- NEMIUM B ----------*/

.backgroundHeader-b {
  block-size: 6rem;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

/*-------- NEMIUM C ----------*/

.backgroundHeader-c {
  block-size: 0;
}

/*-------- NEMIUM D ----------*/

.backgroundHeader-dSecond {
  position: relative;
  background: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%);
  block-size: 6rem;
  z-index: 1;
}

.backgroundHeader-d {
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  block-size: 6rem;
  background-image: url(../img/img-background-header-d.png);
  background-size: 8.2%;
}

/*-------- NEMIUM E ----------*/

.backgroundHeader.e {
  color: var(--color-6);
}

@media screen and (min-width:940px) {
  .backgroundHeader-b {
    block-size: 21.875rem;
  }
  .backgroundHeader {
    block-size: 21.875rem;
    background-image: url(../img/img-background-header.png);
    background-size: 10%;
    background-repeat: repeat;
  }
  /*-------- NEMIUM D ----------*/
  .backgroundHeader-d, .backgroundHeader-dSecond {
    block-size: 21.875rem;
  }
}