@import url(./header-background.css);
@import url(./side-navegation.css);
@import url(./main.css);
:root {
  --color-1: #212121;
  --color-2: #808080;
  --color-3: #424242;
  --color-4: #212429;
  --color-5: #FEC62E;
  --color-6: #ffff;
  --color-7: #A5A3A5;
  --color-8: #5551FF;
  --color-9: #8E2DE2;
  --color-10: #ABAAF6;
  --color-11: #232946;
  --color-12: #D4939D;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  margin: 0;
}

.body.e{
  position: relative;
  margin: 0;
  background: var(--color-11);
}

@media screen and (min-width:900px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width:1420px) {
  :root {
    font-size: 16px;
  }
}